*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, span{
    color: #242424;
    text-align: center;
    line-height: 1.25;
}

p{
    line-height: 1.5;
    font-size: 16px;
}

/* navigation bar */

nav{
    height: 100px;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.list-navbar{
    list-style-type: none;
    display: flex;
}

.navbar-anchor{
    margin: 0px 12px;
    color: #242424;
    text-decoration: none;
    font-weight: 700;
}

.primary-navbar-anchor{
    background-color: red;
    padding: 8px 20px;
    border-radius: 100px;
    color: white;
    transition: all 500ms ease;
}

.primary-navbar-anchor:hover{
    background-color: black;
}

.Logo{
    font-size: 20px;
    color: red;
    margin: 0px 12px;
    font-weight: bold;
}
/*personal info*/
.me_container{
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 500px;
    margin: 0 auto; /*centers it all*/
    text-align: center;
}

.abtme-info{
    display: flex;
    flex-direction: column;
}
.pic-crop{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 1px 2px rgba(0, 0, 0, 1);
}

.about-me__picture{
    width: 100%;
}

/* quick me para*/

#about-me{
    min-height: 100vh; /* vertical height*/
    display: flex;
    flex-direction: column;
}

.me_title{
    margin-bottom: 16px;
}
.abt-me__link{
    font-size: 30px;
    color: black;
    text-decoration: none; /*there is a few weird lines when using font awesome which could be removed by using this*/
    padding: 0px 16px;
}

.undraw-img-container{
    flex: 1;
    display: flex;
    align-items: center;
}

.abtme-img{
    width: 100%;
}