*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6, span{
    color: #242424;
    text-align: center;
    line-height: 1.25;
}

p{
    line-height: 1.5;
    font-size: 16px;
}

/* navigation bar */

nav{
    height: 100px;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.list-navbar{
    list-style-type: none;
    display: flex;
}

.navbar-anchor{
    margin: 0px 12px;
    color: #242424;
    text-decoration: none;
    font-weight: 700;
}

.primary-navbar-anchor{
    background-color: red;
    padding: 8px 20px;
    border-radius: 100px;
    color: white;
    transition: all 500ms ease;
}

.primary-navbar-anchor:hover{
    background-color: black;
}

.Logo{
    font-size: 20px;
    color: red;
    margin: 0px 12px;
    font-weight: bold;
}

/* quick me para*/

#about-me{
    min-height: 100vh; /* vertical height*/
}